/* 
Color Scheme from Adobe Image
#F252C8 pink
#F2B279 light brown
#BF6C3B mid brown
#592E25 dark brown
#D91E1E red
*/

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    font-family: 'Macondo', cursive;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #592E25;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

#hk-img {
    height: 700px;
}

.img-sec {
    width: max(35%, 400px);
    position: relative;
    height: 700px;
    overflow: hidden;
}

#penta-img {
    width: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    background-color: rgba(255, 219, 219, 0.6);
    width: 100%;
}

h6 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

.form-info {
    display: flex;
    flex-direction: column;
    width: max(400px, 55%);
    height: 700px;
}

.info {
    height: 30%;
    background-color: #F2B279;
    padding: 20px;

}

.btn-area {
    height: 30%;
    background-color: #F2B279;
}

label, input {
    display: block;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
    outline: blue;
    box-shadow: 4px 2px 2px blue;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid red;
    background: pink;
    box-shadow: 4px 2px 2px red;
  }
  

#main-form {
    height: auto;
    background-color: #BF6C3B;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.form-piece {
    height: 100px;
    width: 300px;
}

.form-p {
    display: block;
    width: 100%;
    padding-left: 60px;
}

.btn-area {
    padding-left: 60px;
    padding-top: 20px;
}

#submit {
    width: 150px;
    height: 40px;
    border-radius: 10px;
   background-color: #F252C8;
   font-size: 1rem;
}

.error {
    border: 1px solid red;
    background: pink;
    box-shadow: 4px 2px 2px red;
  }

#message {
    position: relative;
    top: 5px;
}

footer {
    margin: 5px;
    padding: 5px;
    width: 80%;
    height: 50px;
    background-color: #BF6C3B;
    font-size: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin-top: 40px;
}